<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<title>Insert title here</title>
</head>
<body>
<div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
        <h1>Registro de usuario</h1>
            <div class="modal-content">
            
                <div class="col-12 user-img">
                    <img src="../static/img/user.png" th:src="@{/img/user.png}"/>
                </div>
                </br>
                <form class="col-12" th:action="@{/menu}" method="post">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="username"/>
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password"/>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>Ingresar</button>
                    <a class="btn btn-secondary" href="/registro">
                    Crear cuenta
                    </a>
                </form>
				</br>          
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
		            Combinación de usuario y contraseña incorrecta.
		        </div>
		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		            ha cerrado el sistema.
		        </div>
            </div>
        </div>
    </div>
</body>
</html>